[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
pypdf2 = "*"
sumy = "*"
nltk = "*"
numpy = "*"
wolframalpha = "*"
contractions = "*"
transformers = "*"
sentencepiece = "*"
pandas = "*"
sentence-transformers = "*"
summarizer = "*"
bert-extractive-summarizer = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.3"
